*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: calc(1);

}
.container{
    height: 100vh;
    width: 100%;
     position: absolute;
    align-items: center;
    justify-content: center;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  #background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item{
    display: block;
    position: absolute;
    flex-direction: column;
    margin: 150px auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}
h1{
    margin-bottom: 3px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(231, 233, 98);
    text-align: center;
    text-decoration: underline;
    
}
p{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: aqua;
    text-align: center;
    background-image: url(bag.gif) ;
    background-position: center;
    background-size: 500px auto;
    background-repeat: no-repeat;
    

    
}
a{
    display: block;
    text-decoration: none;
    text-align: center;
    
}
a button{
    border: 3px solid aqua;
    border-radius: 10px;
    width: 170px;
    margin-top: 10px;
    height: 40px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    background-color: azure;
    color: red;
}
button:hover{
    background-color: rgb(231, 114, 114);
    border: 3px solid red;
    color: aqua;
}
@media screen and(max-width:600) {
    #background{
        max-width: 100%;
        min-height: 100vh;
    }
}
  